*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.acran{
    width: 100%;
    height: 100vh;
    background-image: url(media/bg3.png);
    background-position: center;
    background-size: cover;
}